<a href="https://colab.research.google.com/github/anajuliasamorim/estudos-python/blob/main/Aula1Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome= "Ana"
idade = 25
altura= 1.68

In [ ]:
print(f'Olá {nome}, sua idade é {idade} anos e a altura {altura}m')

Olá Ana, sua idade é 25 anos e a altura 1.68m

In [ ]:
a,b,c = 10,20,30
nome, idade, altura = "Ana", 25, 1.68
print(nome,idade,altura)

Ana 25 1.68

In [ ]:
print(type(idade))
print(type(nome))
print(type(altura))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x= int("42")
y= float("3.14")
z= str(42)
print(x,y,z)

42 3.14 42

In [ ]:
nome_produto= "feijão"
idade_aluno= 14
preco_unitario= 19.99
print(nome_produto, idade_aluno, preco_unitario)

feijão 14 19.99

In [ ]:
nome= input("Digite seu nome:")
idade = int(input("Digite sua idade:"))
print(f"Olá,{nome}! Você tem {idade} anos.")

Digite seu nome:Ana
Digite sua idade:25
Olá,Ana! Você tem 25 anos.

In [ ]:
resultado1= 10 + 2 * 3
resultado2= (10 + 2) * 3
print(resultado1)
print(resultado2)

16
36

**Exercícios da aula 01**

In [ ]:
#questão02
idade= int(input("Qual sua idade?"))
meses= idade * 12
print(f"Você tem {meses} meses.")

Qual sua idade?25
Você tem 300 meses.

In [ ]:
#questão03
num1= int(input("Digite o primeiro número:"))
num2= int(input("Digite o segundo número:"))
soma= num1 + num2
sub= num1 - num2
mult= num1 * num2
div= num1 / num2

print(f"A soma de {num1} e {num2} é {soma}")
print(f"A subtração de {num1} e {num2} é {sub}")
print(f"A multiplicação de {num1} e {num2} é {mult}")
print(f"A divisão de {num1} e {num2} é {div}")

Digite o primeiro número:50
Digite o segundo número:25
A soma de 50 e 25 é 75
A subtração de 50 e 25 é 25
A multiplicação de 50 e 25 é 1250
A divisão de 50 e 25 é 2.0

In [ ]:
#questão4
produto= float(input("Qual o preço do seu produto?"))
desconto= float(input("Qual o desconto desse produto(em porcentagem?"))
valor= produto * (1 - (desconto)/100)

print(f'Olá, o valor final do seu produto é de {valor}')

Qual o preço do seu produto?100
Qual o desconto desse produto(em porcentagem?5
Olá, o valor final do seu produto é de 95.0

In [ ]:
#questão5
base= float(input("Digite o valor da base do triângulo:"))
altura= float(input("Digite o valor da base do altura:"))
area= (base * altura) / 2

print(f'A área desse triângulo é {area}')

Digite o valor da base do triângulo:3
Digite o valor da base do altura:5
A área desse triângulo é 7.5

In [ ]:
#questão6
nome= input("Digite seu nome:")
idade= int(input("Digite sua idade:"))
if(idade >= 18):
    print(f"O usuário é maior de idade")
else:
    print(f'O usuário é menor de idade')1

Digite seu nome:Ana
Digite sua idade:6
O usuário é menor de idade

In [ ]:
#questão7
celsius= float(input("Digite a temperatura em Celsius:"))
temp= (celsius * 9/5) + 32

print(f'A nova temperatura em Fahrenheit é {temp}F')

Digite a temperatura em Celsius:25
A nova temperatura em Fahrenheit é 77.0F

In [ ]:
#questao08
num= int(input("Digite um número: "))
ant= num - 1
suc= num + 1

print(f'O antecessor de {num} é {ant}')
print(f'O sucessor de {num} é {suc}')

Digite um número: 100
O antecessor de 100 é 99
O sucessor de 100 é 101